<header>
  <img
    src="assets/img/kadmoPFP.jpg"
    alt="Foto de perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Gabryel Kadmo</h1>
</header>
<aside>
  <div class="container">
    <p>
      Front-End - ReactJS | Javascript | TypeScript | Mongo | MySQL | NodeJS
    </p>
    <p>Itabuna, Brasil - BA</p>
    <p>
      Estudante de sistemas de informação com foco no Front-End. 8º semestre!
    </p>
    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/Profile.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Currículo
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/gabryel-kadmo/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="api.whatsapp.com/send?phone=5573988436959&text=Olá%2C%20vi%20seu%20contato%20no%20portfólio!%20"
            target="_blank"
          >
            <strong>Envie uma mensagem para:</strong>
            <p>(73)98843-6959</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Icone whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:gabryelkadmo@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>gabryelkadmo&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
